/* font family */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");
.poppins {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.carousel-1 {
  background-image: url(images/carousel-1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.carousel-2 {
  background-image: url(images/carousel-2.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.carousel-3 {
  background-image: url(images/carousel-3.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.mid-col {
  height: 520px !important;
  min-width: 250px;
}
.notification {
  position: relative;
  bottom: -35px;
  left: 230px;
}
.footer-bg {
  background-color: #120e43;
}
